@use "sass:math";

@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
@import "./mixins.scss";
@import "./null.scss";
@import "./icons.scss";
@import "./common.scss";

@import "../components/contacts/contacts.scss";
@import "../components/messages/messages.scss";
@import "../components/login/login.scss";

body {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
}

.wrapper {
    display: -ms-grid;
    display: grid;
    height: 100%;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    -ms-grid-rows: 100%;
    grid-template-rows: 100%;
}

.wrapper > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.wrapper > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}
