@use "sass:math";

@import "./variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");
// @import "./container.scss";
@import "./mixins.scss";
@import "./null.scss";
@import "./icons.scss";
@import "./common.scss";

@import "../components/leftColumnContacts/leftColumnContacts.scss";
@import "../components/rightColumnMessages/rightColumnMessages.scss";


body {
    display: grid;
    grid-template-rows: 1fr;
}

.app {
    display: grid;
    height: 100%;
    grid-template-columns: auto 1fr;
    grid-template-rows: 100%;
}
