@import "./mixins.scss";


$black: #000;
$white: #fff;
$dark-white: rgb(240, 240, 240);
$dark-blue: #00829b;
$white-blue: #19b0cd;

$bg-color: #f8f8fa;
$bg-color-message-grey: #c0bebe;
$grey: #949494;
$lighter-grey: #d6d6d6;

$tablet: em(991.98); 
$mobile: em(767.98); 
$mobileSmall: em(479.98); 