.left-column {
    min-width: 12rem;
    width: 33vw;
    height: 100vh;
    position: relative;
    background-color: $white;
    border-right: 1px solid $lighter-grey;
    @media (max-width: 1240px) {
        width: rem(424);
    }
    @media (max-width: $tablet) {
        position: fixed;
        left: 0;
        top: 0;
        -webkit-transform: translate3d(-5rem, 0, 0);
        transform: translate3d(-5rem, 0, 0);
        -webkit-transition: -webkit-transform ease 0.5s;
        transition: -webkit-transform ease 0.5s;
        -o-transition: transform ease 0.5s;
        transition: transform ease 0.5s;
        transition: transform ease 0.5s, -webkit-transform ease 0.5s;
    }
}
.left-column-open {
    .left-column {
        @media (max-width: $tablet) {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        @media (max-width: 600px) {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            max-width: none;
            width: 100vw;
        }
    }
}
.left-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.left-header {
    background-color: $dark-white;
    padding: rem(15);
    border-bottom: 1px solid $lighter-grey;
    // .left-header__container

    &__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 25px;
    }
    // .left-header__search

    &__search {
        width: 100%;
        position: relative;
        color: $black;
        button {
            position: absolute;
            top: 50%;
            right: 3%;
            margin: 0;
            padding: 0;
            font-size: rem(17);
            color: $grey;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            cursor: pointer;
            opacity: 0;
            -webkit-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
            background-color: transparent;
            width: rem(25);
            height: rem(25);
            border-radius: 50px;
            &:hover {
                background-color: $lighter-grey;
            }
        }
    }

    // .left-header__search-input

    &__search-input {
        height: rem(40);
        position: relative;
        width: 100%;
        border: 1px solid $lighter-grey;
        border-radius: rem(22);
        background-color: $white;
        padding-left: 40px;
        padding-right: 55px;
        &:focus::-webkit-input-placeholder {
            color: transparent;
        }
        &:focus::-moz-placeholder {
            color: transparent;
        }
        &:focus:-ms-input-placeholder {
            color: transparent;
        }
        &:focus::-ms-input-placeholder {
            color: transparent;
        }
        &:focus::placeholder {
            color: transparent;
        }
    }

    // .left-header__icon

    &__icon {
        position: absolute;
        top: 50%;
        left: 14px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: rem(14);
        color: $grey;
        cursor: pointer;
    }

    &__tent {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    &__wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: rem(25);
    }

    &__name {
        h2 {
            font-size: rem(23);
            @media (max-width: $mobile) {
                font-size: rem(18);
            }
            @media (max-width: $mobileSmall) {
                font-size: rem(16);
            }
        }
    }

    &__exit-button {
        cursor: pointer;
        -webkit-transition: background-color ease 0.5s;
        -o-transition: background-color ease 0.5s;
        transition: background-color ease 0.5s;
        padding: rem(10);
        border-radius: rem(22);
        &:hover {
            background-color: $lighter-grey;
        }
    }
}

.avatar {
    .icon-check {
        color: rgb(14, 167, 14);
        font-size: rem(16);
        right: 0;
        bottom: 0;
    }
}

.left-main {
    &__title-text {
        color: $white-blue;
        font-weight: 400;
        padding: rem(15) rem(15) rem(20) rem(15);
        z-index: 10;
    }
}

.chat-list {
    overflow-y: auto;
    overflow-x: hidden;
    &__container {
        padding: 0 rem(15);
        overflow-y: auto;
        overflow-x: hidden;
    }

    &__info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: rem(5);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        margin-left: rem(15);
    }
}
.list-item {
    padding: rem(25) 0;
    border-bottom: 1px solid $lighter-grey;
    // .list-item__button

    &__button {
        min-width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        overflow: hidden;
        line-height: 1.5rem;
        cursor: pointer;
    }
}

.info-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    h3 {
        font-weight: 400;
        max-width: 220px;
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        @media (min-width: 1240px) {
            max-width: 16vw;
        }
        @media (max-width: 600px) {
            max-width: 45vw;
        }
    }
}

.time {
    font-size: rem(15);
    font-weight: 300;
    margin-left: rem(10);
}

.info-subtitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: $grey;

    &__messages-counter {
        display: block;
        background-color: $white-blue;
        border-radius: 50px;
        text-align: center;
        font-size: rem(15);
        color: $white;
        width: rem(23);
        height: rem(23);
    }
}

.last-message {
    display: inline-block;
    max-width: 255px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    @media (max-width: $mobileSmall) {
        max-width: 225px;
    }
}

.contacts-enter {
    opacity: 0;
}

.contacts-enter-active {
    opacity: 1;
    -webkit-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
}

.contacts-exit {
    opacity: 1;
}

.contacts-exit-active {
    opacity: 0;
    -webkit-transition: opacity 500ms ease-in;
    -o-transition: opacity 500ms ease-in;
    transition: opacity 500ms ease-in;
}
